<div class="app-user-form">
  <div class="error-banner" [hidden]="!error">OOPS: {{ error }}</div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
    </label>
    <ng-template [ngIf]="userForm.get('firstName').touched">
      <app-validation-error [error]="userForm.get('firstName').errors" label="Firstname"></app-validation-error>
    </ng-template>
    <input type="text" formControlName="firstName" />

    <label>
      Last Name:
    </label>
    <ng-template [ngIf]="userForm.get('lastName').touched">
      <app-validation-error [error]="userForm.get('lastName').errors" label="Lastname"></app-validation-error>
    </ng-template>
    <input type="text" formControlName="lastName" />

    <label [hidden]="!!userId">
      Email:
    </label>
    <ng-template [ngIf]="userForm.get('email').touched">
      <app-validation-error [error]="userForm.get('email').errors" label="Email"></app-validation-error>
    </ng-template>
    <input type="email" formControlName="email" [hidden]="!!userId" />

    <label for="role">Role </label>
    <ng-template [ngIf]="userForm.get('role').touched">
      <app-validation-error [error]="userForm.get('role').errors" label="Role"></app-validation-error>
    </ng-template>
    <select id="role" formControlName="role">
      <option value="">None</option>
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select>

    <button type="submit" [disabled]="userForm.invalid || submitting">Save</button>
  </form>
</div>
