.app-user-list-filter {
  margin: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &-role {
    label {
      background-color: lightcoral;
     color: snow;
      padding: 0.7rem;
    }

    select {
      padding: 0.5rem;
      min-width: 30vw;
      border: 1px solid rgba(220, 0, 0, .3) !important;
      outline: none;
    }
  }

  &-search {
    display: grid;
    grid-template-columns: 1fr 1fr;

    input {
      padding: 0.5rem;
      min-width: 30vw;
      border: 1px solid rgba(220, 0, 0, .3) !important;
      outline: none;
    }

    div {
      padding: 0.5rem;
      background-color: lightcoral;
      display: grid;
      align-items: center;
      justify-items: center;
      color: snow;
      cursor: pointer;
    }
  }
}
